Axis2Samples/pojo/src/AddressBookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.addressbook.sample" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://entry.addressbook.sample/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.addressbook.sample">
    <wsdl:documentation>AddressBookService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://entry.addressbook.sample/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.addressbook.sample">
            <xs:import namespace="http://entry.addressbook.sample/xsd"/>
            <xs:element name="findEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:Entry"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax21:Entry"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entry.addressbook.sample/xsd">
            <xs:complexType name="Entry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addEntryRequest">
        <wsdl:part name="parameters" element="ns:addEntry"/>
    </wsdl:message>
    <wsdl:message name="findEntryRequest">
        <wsdl:part name="parameters" element="ns:findEntry"/>
    </wsdl:message>
    <wsdl:message name="findEntryResponse">
        <wsdl:part name="parameters" element="ns:findEntryResponse"/>
    </wsdl:message>
    <wsdl:portType name="AddressBookServicePortType">
        <wsdl:operation name="addEntry">
            <wsdl:input message="ns:addEntryRequest" wsaw:Action="urn:addEntry"/>
        </wsdl:operation>
        <wsdl:operation name="findEntry">
            <wsdl:input message="ns:findEntryRequest" wsaw:Action="urn:findEntry"/>
            <wsdl:output message="ns:findEntryResponse" wsaw:Action="urn:findEntryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddressBookServiceSoap11Binding" type="ns:AddressBookServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addEntry">
            <soap:operation soapAction="urn:addEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="findEntry">
            <soap:operation soapAction="urn:findEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AddressBookServiceSoap12Binding" type="ns:AddressBookServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addEntry">
            <soap12:operation soapAction="urn:addEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="findEntry">
            <soap12:operation soapAction="urn:findEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AddressBookServiceHttpBinding" type="ns:AddressBookServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addEntry">
            <http:operation location="addEntry"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="findEntry">
            <http:operation location="findEntry"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddressBookService">
        <wsdl:port name="AddressBookServiceHttpSoap11Endpoint" binding="ns:AddressBookServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/AddressBookService.AddressBookServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AddressBookServiceHttpSoap12Endpoint" binding="ns:AddressBookServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/AddressBookService.AddressBookServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AddressBookServiceHttpEndpoint" binding="ns:AddressBookServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/AddressBookService.AddressBookServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
